body{
	font-family: Time new roman;
	font-size: 18px;

}
/*estilos generales*/

nav ul{
	list-style: none;
	padding: 0;
}
nav li{
	line-height: 3rem;
	position: relative;
}
nav li ul{
	position: absolute;	
}
nav a{
	color: #ddd;
	display: block;
	padding: 0 5.0em;
	text-decoration: none;
	transition: .4s;
}
nav a:hover {
	background: rgba(0,0,0,.5);
}
/*primer nivel*/

nav > ul{
	background: #333;
	display: table;
	width: 100%;
}
nav > ul > li{
	float: left;
}

/*segundo nivel*/

nav li li{
	background: #222;
	max-height: 0;
	overflow: hidden;
	transition: all .5s;
	width: 200px;
}
nav li:hover > ul > li {
	max-height: 500px;
	overflow: visible;
}
nav >ul >li >ul{
	top: 100%;
}
/*tercer nivel*/
nav ul ul ul{
	left: 100%;
	top: 0;

}